body {
    background-color: #66E3A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #8DFCC5;
    color: #2C4A3B;
    padding: 25px;
    text-align: center;
    width: 75vw;
    height: 20vh;
}

.frame {
    border: 10px solid #2C4A3B;
    margin: 25px;
}