* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: blueviolet;
    width: 100px;
    text-align: center;
    padding: 10px;
  }
  
  header a:hover {
    color: cornsilk;
    background-color: rgba(185, 185, 185, .8);
  }

h1 {
    font-size: 4em;
    margin: 20px;
    text-align: center;
    color: goldenrod;
}

li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
}


a {
    color: rgb(139, 107, 23);
    font-size: 2em;
    text-decoration: none;
}

a:hover {
    background-color: rgba(185, 185, 185, .8);
    color: honeydew;
}

img {
    margin: 75px 0;
    border: 5px solid white;
    border-radius: 120px;
}