body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/geometric_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px;
  }
  
  header a:hover {
    background-color:rgba(185, 185, 185, .8);
  }