body {
    background-color: #DE5CFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: #2C4A3B;
    width: 100px;
    text-align: center;
    padding: 10px;
}
  
header a:hover {
    color: white;
    background-color:rgba(185, 185, 185, .8);
}

h2 {
    text-align: center;
}

div p {
    display: none;
    background-color: teal;
    padding: 30px;
}

div:hover p {
    display: block;
    font-size: 3em;
    color: yellow;
}