body {
    background-color: #DE5CFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

div p {
    display: none;
    background-color: teal;
    padding: 30px;
}

div:hover p {
    display: block;
    font-size: 3em;
    color: yellow;
}