body {
    background-color: #002E82;
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px;
}
  
header a:hover {
    
    background-color:rgba(185, 185, 185, .8);
}

.video {
    display: flex;
    width: 80vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    padding: 10px;
}

h2 {
    color: #002E82;
}