body {
    background-color: #E617E2;
    color: #240B23;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: #2C4A3B;
    width: 100px;
    text-align: center;
    padding: 10px;
}
  
header a:hover {
    color: white;
    background-color:rgba(185, 185, 185, .8);
}

.box {
    color: navy;
    text-align: center;
    width: 175px;
    height: 175px;
    background-color: #FFBC75;
    transition: width 3s linear 1s, height 3s linear 1s, background-color 3s linear 1s, border-radius 3s linear 1s; 
}

.box:hover {
    width: 350px;
    height: 350px;
    background-color: #FF8300;
    border-radius: 30px;
}
.box h2 {
    color: #3f133e;
    font-size: 1.1em;
    margin-top: 35%;
    transition: font-size 3s linear 1s, color 3s linear 1s;
}

.box:hover h2 {
    color: #E617E2;
    font-size: 2em;
}