* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header a {
  font-size: 1.5em;
  position: absolute;
  top: 2%;
  left: 5%;
  text-decoration: none;
  color: blueviolet;
  width: 100px;
  text-align: center;
  padding: 10px;
}

header a:hover {
  color: cornsilk;
  background-color: rgba(185, 185, 185, .8);
}

h1 {
    color: coral;
    margin: 25px;
    text-decoration: underline;
    text-align: center;
}

img {
    max-width: 75%;
}

#imagebox {    
    position: relative;
    text-align: center;
}
  
.bottom {
    position:absolute;
}

.top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
}

.loading {
    position: relative;
    padding: 50px;
    text-align: center;
}

.bar {
    display: inline-block;
    width: 35px;
    height: 100px;
    border-radius: 15px;
    animation: loading 1s ease-in-out infinite;
}
.bar:nth-child(1) {
    background-color: #0000FF;
    animation-delay: 0;
}
.bar:nth-child(2) {
    background-color: #FF0000	;
    animation-delay: 0.09s;
}
.bar:nth-child(3) {
    background-color: #ff8000;
    animation-delay: .18s;
}
.bar:nth-child(4) {
    background-color:#00FF00;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
  }
}