* {
    padding: 0;
    margin: 0;
}

.buffering {
    margin: 15% auto;
    border: 40px solid #73BFBF;
    border-top: 40px solid #4C49A6;
    border-bottom: 40px solid #F27127;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg) scale(1); }
    50% {transform: rotate(180deg) scale(2);}
    100% {transform: rotate(360deg) scale(1); }
}

h1 {
    color:#F26BE9;
    position: sticky;
    text-align: center;
    top: 50%;

}