body {
    background-color: #C7505B;
    color: white;
    text-align: center;
}

header a {
    font-size: 1.5em;
    position: absolute;
    top: 2%;
    left: 5%;
    text-decoration: none;
    color: #2C4A3B;
    width: 100px;
    text-align: center;
    padding: 10px;
}
  
header a:hover {
    color: white;
    background-color:rgba(185, 185, 185, .8);
}

p {
    font-size: 1em;
}

p::first-letter {
    font-size: 2em;
    color: navy;
}